<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>  
	  
  	Ansible 快速入门 - Redmagic
  	
	</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="atom.xml" rel="alternate" title="Redmagic" type="application/atom+xml">

	<link href="asset/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="asset/stylesheets/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css">
	<script src="asset/javascripts/jquery.min.js"></script>
	<script src="asset/highlightjs/highlight.pack.js"></script>
	<link href="asset/highlightjs/styles/solarized_dark.css" media="screen, projection" rel="stylesheet" type="text/css">
<script>hljs.initHighlightingOnLoad();</script>

	<!--[if lt IE 9]><script src="asset/javascripts/html5.js"></script><![endif]-->
	<!-- <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'> -->
	<style type="text/css">
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito-Light'), url(asset/font/1TiHc9yag0wq3lDO9cw0voX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito-Regular'), url(asset/font/6TbRXKWJjpj6V2v_WyRbMX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito-Bold'), url(asset/font/TttUCfJ272GBgSKaOaD7KoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
	</style>
	
	<style type="text/css">
	.container .left-col{ opacity: 1;}
	#pagenavi a{ font-size: 1.3em;}
	#pagenavi .next:before{ top: 3px;}
	#pagenavi .prev:before{ top: 3px;}
	.container .mid-col .mid-col-container #content .archives .title{ font-size: 1.5em;}
	.container .mid-col .mid-col-container #content article{ padding: 15px 0px;}
	#header .subtitle {
		line-height: 1.2em;
		padding-top: 8px;
	}
	article pre{ background: none; border: none; padding: 0;}
	article .entry-content{text-align: left;}
	.share-comment{ padding: 25px 0px; clear: both;}
	hr{ margin: 20px 0px;border: 0; border-top:solid 1px #ddd;}
	</style>
  

</head>


<body>
	<div class="container">
		<div class="left-col">
			<div class="intrude-less">
				<header id="header" class="inner">
				 
					
					<h1><a href="index.html">Redmagic</a></h1>
					<p class="subtitle">FFFF</p>
					<nav id="main-nav">
						<ul class="main">
						
						  <li id=""><a target="self" href="index.html">Home</a></li>
						
						  <li id=""><a target="_self" href="archives.html">Archives</a></li>
						
						</ul>
					</nav>

					<nav id="sub-nav">
						<div class="social">













								

								<a class="rss" href="atom.xml" title="RSS">RSS</a>
							
						</div>
					</nav>
				</header>				
			</div>
		</div>	
		<div class="mid-col">
			<div class="mid-col-container"> <div id="content" class="inner">

	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
		<h1 class="title" itemprop="name">Ansible 快速入门</h1>
		<div class="entry-content" itemprop="articleBody">
			<p>Ansible 是一个 IT 自动化软件，类似于 Puppet 和 Chef，是实现 Infra-as-a-code 的一种工具。</p>

<h2 id="toc_0">QuickStart</h2>

<h3 id="toc_1">理解 Ansible 如何控制远程服务器</h3>

<p>Ansible 的所有操作是基于 ssh 协议的，我们可以通过 ssh 命令在远程服务器上执行命令：</p>

<pre><code class="language-bash">$ ssh root@ip &#39;ping baidu.com&#39;
PING baidu.com (39.156.69.79) 56(84) bytes of data.
64 bytes from 39.156.69.79 (39.156.69.79): icmp_seq=1 ttl=48 time=7.83 ms
64 bytes from 39.156.69.79 (39.156.69.79): icmp_seq=2 ttl=48 time=3.43 ms
64 bytes from 39.156.69.79 (39.156.69.79): icmp_seq=3 ttl=48 time=3.45 ms
64 bytes from 39.156.69.79 (39.156.69.79): icmp_seq=4 ttl=48 time=3.46 ms
</code></pre>

<p>在 Ansible 中编写的脚本最终也会被翻译成类似上面命令的方式被执行。</p>

<p>在 Ansible 执行的过程中，需要两种角色的节点，分别对应 ssh 的 client 和 server：</p>

<ul>
<li>管理节点（执行 ansible 命令的机器）</li>
<li>托管节点（被 ansible 的管理的机器）</li>
</ul>

<p>Ansible 的管理节点目前支持类 unix 系统，也就是 linux 和 macos。暂时不支持 windows 作为管理节点。管理节点可以是自己本地的电脑，但是由于私有化部署时我们面对的通常都是客户的内网环境，一般都无法在自己的开发机直接访问。为了简化使用方式，我们选择客户的一台服务器及作为管理节点也同时作为托管节点，所有 ansible 的操作总是从管理节点发起。</p>

<p>既然 Ansible 是基于 ssh 协议实现的，我们必须决定以哪个<strong>用户</strong>的身份登陆，以何种方式进行 <strong>ssh 认证</strong>，以及确保登陆用户有 <strong>sudo</strong> 的权限。ssh 常用的认证方式支持密码和证书两种，由于我们希望自动化部署，不想在部署过程中频繁的输入密码，因此配置证书认证是比较好的选择。另外很多客户环境下 sudo 也需要额外的密码，因此需要在初始化环境时配置 ssh 的登陆用户可以免密的进行 sudo 操作。</p>

<p>总结一下，我们需要：</p>

<ul>
<li>选择一台客户内网的服务器作为管理节点，该节点通常也是我们的托管节点</li>
<li>对托管节点配置基于证书的 ssh 免密登陆</li>
<li>确保 ssh 登陆用户可以免密进行 sudo 操作</li>
</ul>

<h3 id="toc_2">Inventory File</h3>

<p>Ansible 可同时操作属于一个组的多台主机,组和主机之间的关系通过 inventory 文件配置。默认的文件路径为 <code>/etc/ansible/hosts</code> 。不过我们通常不把  inventory file 放在系统目录下，而是放在单独的配置目录。</p>

<p>我们试着写一个 inventory file :</p>

<pre><code class="language-yaml">[webserver]
host1
host2
</code></pre>

<p>保存为 <code>hosts</code> ，然后通过 ansible 的命令行执行 adhoc 命令</p>

<pre><code class="language-yaml">$ ansible all -i hosts -m ping
host1 | UNREACHABLE! =&gt; {
    &quot;changed&quot;: false,
    &quot;msg&quot;: &quot;Failed to connect to the host via ssh: ssh: Could not resolve hostname host1: nodename nor servname provided, or not known&quot;,
    &quot;unreachable&quot;: true
}
host2 | UNREACHABLE! =&gt; {
    &quot;changed&quot;: false,
    &quot;msg&quot;: &quot;Failed to connect to the host via ssh: ssh: Could not resolve hostname host2: nodename nor servname provided, or not known&quot;,
    &quot;unreachable&quot;: true
}
</code></pre>

<p>其中 <code>all</code> 是 <code>&lt;host-pattern&gt;</code> ,  <code>all</code> 是一个特殊的 pattern，匹配所有 hosts。提示报错是预期的结果，因为 host1, host2 并不存在。</p>

<h3 id="toc_3">Playbook，Role，Task</h3>

<p>上一节展示了如何通过 ansible 执行 adhoc 命令，但是大部分时候我们用的更多的是 <code>ansible-playbook</code> 命令。Playbook 是 ansible 的任务编排语言，通过 YAML 来描述。关于 Playbook 和 role， task 的关系，一句话就可以说清楚：剧本 (playbook) 开始，角色们（role) 依次登上舞台，完成自己的任务 (task)。</p>

<p>playbook 一般是 ansible 执行的入口；role 更像是模块，是我们复用代码的基本单位；task 是一个个具体的实现。</p>

<p>先从一个不考虑复用的 playbook 开始：</p>

<pre><code class="language-yaml">- hosts: all
  tasks:
    - name: install vim
      yum:
        name: vim
        state: present

    - name: install jdk
      yum:
        name: openjdk
        state: present
</code></pre>

<p>这个 playbook 会在所有机器上安装 vim 和 openjdk。yum 是 ansible 提供的一个模块，ansible 拥有非常强大的生态，我们需要几乎所有操作都被 ansible 很好的封装了。所有模块的文档可以参考：<a href="https://docs.ansible.com/ansible/latest/modules/modules_by_category.html">https://docs.ansible.com/ansible/latest/modules/modules_by_category.html</a></p>

<p>随着 task 越来越多，playbook 会变得非常长而且不容易维护，中间如果有重复部分也难以实现代码复用。这个时候就轮到角色（role） 登场了。</p>

<h3 id="toc_4">编写可复用的脚本</h3>

<p>role 从代码上看就是一个特定结构的目录，典型的 role 目录结构如下：</p>

<pre><code class="language-yaml">site.yml
webservers.yml
fooservers.yml
roles/
   common/
     files/
     templates/
     tasks/
     handlers/
     vars/
     defaults/
     meta/
   webservers/
     files/
     templates/
     tasks/
     handlers/
     vars/
     defaults/
     meta/
</code></pre>

<p>每个目录下默认的入口都是 <code>main.yml</code> 这个文件。然后我们可以在 playbook 中引入这个 role：</p>

<pre><code class="language-yaml">---
- hosts: webservers
  roles:
     - common
     - webservers
</code></pre>

<p>role 和 role 之间可以设置依赖关系，通过依赖我们可以隐式的执行某些 role。角色依赖需要定义在 <code>meta/main.yml</code> 文件中：</p>

<pre><code class="language-yaml">---
dependencies:
  - { role: common, some_parameter: 3 }
  - { role: apache, port: 80 }
  - { role: postgres, dbname: blarg, other_parameter: 12 }
</code></pre>

<blockquote>
<p>当一个 playbook 包含多个 role，并且 role 依赖了共同的 role 时，可能会有重复执行的情况。ansible 有一些机制避免重复无意义的执行，但是该规则不是很容易直观理解。</p>
</blockquote>

<h2 id="toc_5">变量</h2>

<h3 id="toc_6"><strong>变量的定义</strong></h3>

<p><strong>Inventory File</strong></p>

<pre><code>[all:vars]
foo1=bar
foo2=bar2

[group1]
host1
host2

[group1:vars]
foo3=bar3
</code></pre>

<p><strong>PlayBook</strong></p>

<pre><code class="language-yaml">---
- hosts: all
  vars:
    http_port: 80
  vars_prompt:
    - name: service_name
      prompt: &quot;Which service do you want to remove?&quot;
      private: no
  vars_files:
    - /vars/external_vars.yml
</code></pre>

<p><strong>Role</strong></p>

<p>有些变量只用于当前 role，可能会定义在 role 当中。一般位于 <code>defaults/mian.yml</code> 或者 <code>vars/</code> 目录下。</p>

<p>具体的使用参见：<a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html">https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html</a></p>

<p><strong>Ansible 预定义</strong></p>

<p>部分变量是 Ansible 自己定义的变量，比如我们要获取机器的 hostname：</p>

<pre><code class="language-bash">{{ ansible_facts[&#39;nodename&#39;] }}
</code></pre>

<p>这部分预定义变量非常多，可以通过下面命令查看：</p>

<pre><code class="language-bash">$ ansible hostname -m setup
{
    &quot;ansible_all_ipv4_addresses&quot;: [
        &quot;REDACTED IP ADDRESS&quot;
    ],
    &quot;ansible_all_ipv6_addresses&quot;: [
        &quot;REDACTED IPV6 ADDRESS&quot;
    ],
    &quot;ansible_apparmor&quot;: {
        &quot;status&quot;: &quot;disabled&quot;
    },
    &quot;ansible_architecture&quot;: &quot;x86_64&quot;,
    &quot;ansible_bios_date&quot;: &quot;11/28/2013&quot;
        ......
}
</code></pre>

<p><strong>Command Line</strong></p>

<pre><code class="language-bash">ansible-playbook site.yml --extra-vars=&#39;{&quot;foo&quot;: &quot;bar&quot;}&#39;
</code></pre>

<p><a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html">https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html</a></p>

<h3 id="toc_7">变量的作用域</h3>

<p>ansible 的变量作用域主要有 3 种：</p>

<ul>
<li>Global：ansible 配置文件，环境变量，命令行</li>
<li>Play：playbook vars, vars_prompt, vars_files; role defaults, vars</li>
<li>Host: Inventory 中定义的的 host vars; facts</li>
</ul>

<h3 id="toc_8">变量使用</h3>

<p>ansible 允许你在各处通过 jinja2 的语法使用变量。jinja2 是一个用 Python 开发的模版引擎，本身并不复杂，核心东西就 3 个：变量的输出，控制流，filter</p>

<p>两个大括号包起来表示输出变量：</p>

<pre><code>I&#39;m {{ name }}
</code></pre>

<p>变量输出时可以用过 filter 控制格式，类似 bash 里的 pipeline。filter 本质上是一个 Python 的函数，有一个入参和一个返回结果：</p>

<pre><code>I&#39;m {{ name | trim | title }}
</code></pre>

<p>控制流需要区别于输出，用 <code>{% %}</code> 表示。比如一个 for 循环</p>

<pre><code>{% for name in names %}
I&#39;m {{ name | title }}
{% endfor %}
</code></pre>

<p>条件判断</p>

<pre><code>{% for name in names %}
{% if ignore_case %}
I&#39;m {{ name | lower }}
{% else %}
I&#39;m {{ name }}
{% endif %}
{% endif %}
</code></pre>

<p>上面就是 jinja2 的介绍，更多细节需要去看文档。</p>

<p>需要注意的是，在 Ansible 中如果你要使用 jinja2 的语法去引用一个变量，必须用双引号内使用。</p>

<pre><code class="language-yaml">- hosts: all
  vars:
    deploy_path: &quot;{{ home_dir }}/apps&quot;
</code></pre>

<p>比如我们想根据各种上下文生成 nginx 的配置文件，可以通过 template 命令来渲染。首先定一个模版文件 <code>nginx.conf.j2</code></p>

<pre><code>server {
  server_name {{ server_name }};
  listen 80;
  
  location / {
    try_files $uri $uri/ /index.html;
  }
}
</code></pre>

<p>我们希望这个配置文件可以覆盖默认的 nginx 配置：</p>

<pre><code class="language-yaml">- hosts: nginx
  vars:
    server_name: gio.com
    nginx_user: nginx
    nginx_group: &quot;{{ nginx_user }}&quot;
  tasks:
    - name: generate nginx config file
      template:
        src: nginx.conf.j2
        dest: /etc/nginx/nginx.conf
        owner: &quot;{{ nginx_user }}&quot;
        group: &quot;{{ nginx_group }}&quot;
      become: yes
</code></pre>

<h2 id="toc_9">最佳实践</h2>

<h3 id="toc_10">保持操作的幂等</h3>

<p>shell 脚本在执行时，很多命令的执行结果不是确定的。很多时候我们无法避免的需要反复重试某些脚本：</p>

<ul>
<li>脚本自身有 bug，修完以后需要重试</li>
<li>机器状态不确定。比如脚本执行过程中机器重启了；免密 sudo 忘记配置结果执行到某个需要 sudo 的 task 时跪了。</li>
<li>命令本身执行结果就是不确定的，比如通过 systemd 启动一个进程，systemctl start 命令返回成功并不代表真的启动成功了。</li>
</ul>

<p>ansible 的写法都是声明式而不是命令式。命令描述过程，声明式描述意图。明确的意图可以让 ansible 可以更好的帮你决定是否要重试某个任务，安全的隐藏细节。比如我们删除某个文件，命令式描述这样的：</p>

<pre><code class="language-yaml">- name: delete file
  command: rm /tmp/xxx
</code></pre>

<p>但是当我们重复跑这个 task 时，已经被删除文件无法再次被删除，需要在每次删除前检查目标文件是否已经被删除。但是用声明式的写法就很容易实现：</p>

<pre><code class="language-yaml">- name: delete file
  file:
    src: /tmp/xxx
    state: absent
</code></pre>

<p>编写 ansible 脚本时，要始终记得一件事：不要想着你要做什么操作，而是描述你期望某个对象的状态是怎么样的。</p>

<h3 id="toc_11">谨慎处理非 root 用户运行时的逻辑</h3>

<p>ansible 的 task 有两个属性 <code>become</code> 和 <code>become_user</code> ，分别代表是否要使用 sudo 以及 sudo 的用户。比如创建一个目录并指定目录的 owner 和 group</p>

<pre><code class="language-yaml">- name: create dir
  file:
    path: /etc/foo
    state: directory
    owner: foo
    group: foo
</code></pre>

<p>如果我们以 root 用户的身份执行 ansible 脚本，上面的脚本没有任何问题。但是如果是一个有 sudo 权限的普通用户，如果没有显式使用 sudo 的话，没有权限在 <code>/etc</code> 目录下创建任何东西。这是时候就需要使用 <code>become</code></p>

<pre><code class="language-yaml">- name: create dir
  file:
    path: /etc/foo
    state: directory
    owner: foo
    group: foo
  become: yes
</code></pre>

<h3 id="toc_12">测试脚本</h3>

<p>检查语法：</p>

<pre><code class="language-yaml">ansible-playbook --syntax-check &lt;playbook&gt;
</code></pre>

<p>Dry-run:</p>

<pre><code class="language-yaml">ansible-playbook --check &lt;playbook&gt;
</code></pre>

<p>真实执行脚本：</p>

<p>由于测试可能需要反复执行，每次都申请服务器显然不现实，推荐本地用 VirtualBox + Vagrant 来进行测试。</p>

<p>首先定义 Vargrantfile，来创建 3 个虚拟机，hostname 是 hadoop[1-3]</p>

<pre><code class="language-yaml">$ cat Vagrantfile                                                                                                                                                    
# -*- mode: ruby -*-
# vi: set ft=ruby :

# All Vagrant configuration is done below. The &quot;2&quot; in Vagrant.configure
# configures the configuration version (we support older styles for
# backwards compatibility). Please don&#39;t change it unless you know what
# you&#39;re doing.
Vagrant.configure(&quot;2&quot;) do |config|
  config.vm.define &#39;hadoop01&#39; do |hadoop01|
    hadoop01.vm.box = &#39;centos/7&#39;
    hadoop01.vm.hostname = &#39;hadoop01&#39;
    hadoop01.vm.network &quot;forwarded_port&quot;, guest: 80, host: 8000
    hadoop01.vm.network :private_network, :ip =&gt; &#39;192.168.10.192&#39;
    hadoop01.vm.provision :hosts, :sync_hosts =&gt; true
    hadoop01.vm.provision :hosts, :add_localhost_hostnames =&gt; false
    hadoop01.vm.provider :virtualbox do |v|
      v.customize [&quot;modifyvm&quot;, :id, &quot;--natdnshostresolver1&quot;, &quot;on&quot;]
      v.customize [&quot;modifyvm&quot;, :id, &quot;--memory&quot;, 2048]
      v.customize [&quot;modifyvm&quot;, :id, &quot;--name&quot;, &quot;hadoop01&quot;]
    end
  end

  config.vm.define &#39;hadoop02&#39; do |hadoop02|
    hadoop02.vm.box = &#39;centos/7&#39;
    hadoop02.vm.hostname = &#39;hadoop02&#39;
    hadoop02.vm.network &quot;forwarded_port&quot;, guest: 80, host: 8001
    hadoop02.vm.network :private_network, :ip =&gt; &#39;192.168.10.193&#39;
    hadoop02.vm.provision :hosts, :sync_hosts =&gt; true
    hadoop02.vm.provision :hosts, :add_localhost_hostnames =&gt; false
    hadoop02.vm.provider :virtualbox do |v|
      v.customize [&quot;modifyvm&quot;, :id, &quot;--natdnshostresolver1&quot;, &quot;on&quot;]
      v.customize [&quot;modifyvm&quot;, :id, &quot;--memory&quot;, 2048]
      v.customize [&quot;modifyvm&quot;, :id, &quot;--name&quot;, &quot;hadoop02&quot;]
    end
  end

  config.vm.define &#39;hadoop03&#39; do |hadoop03|
    hadoop03.vm.box = &#39;centos/7&#39;
    hadoop03.vm.hostname = &#39;hadoop03&#39;
    hadoop03.vm.network &quot;forwarded_port&quot;, guest: 80, host: 8002
    hadoop03.vm.network :private_network, :ip =&gt; &#39;192.168.10.194&#39;
    hadoop03.vm.provision :hosts, :sync_hosts =&gt; true
    hadoop03.vm.provision :hosts, :add_localhost_hostnames =&gt; false
    hadoop03.vm.provider :virtualbox do |v|
      v.customize [&quot;modifyvm&quot;, :id, &quot;--natdnshostresolver1&quot;, &quot;on&quot;]
      v.customize [&quot;modifyvm&quot;, :id, &quot;--memory&quot;, 2048]
      v.customize [&quot;modifyvm&quot;, :id, &quot;--name&quot;, &quot;hadoop03&quot;]
    end
  end
end
</code></pre>

<p>启动服务器并配置 ssh</p>

<pre><code class="language-yaml">$ vagrant up

$ vagrat ssh-config
</code></pre>

<p>创建一个用于测试的 inventory file，然后执行 playbook：</p>

<pre><code class="language-yaml">ansible-playbook &lt;playbook&gt; -i &lt;inventory_file&gt;
</code></pre>

<p>单元测试：</p>

<p>ansible 的单元测试比较接近集成测试。有第一个第三方的框架可以支持：</p>

<p><a href="https://molecule.readthedocs.io/en/latest/">https://molecule.readthedocs.io/en/latest/</a></p>

<p>细节比较多这里不单独介绍，执行也需要依赖 docker 或者 vagrant</p>

<h2 id="toc_13">Reference</h2>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Infrastructure_as_code">https://en.wikipedia.org/wiki/Infrastructure_as_code</a></li>
<li><a href="https://ansible-tran.readthedocs.io/en/latest/docs/intro.html">https://ansible-tran.readthedocs.io/en/latest/docs/intro.html</a></li>
</ul>

		</div>
	</article>
	<div class="share-comment">
	 <div id="disqus_thread></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
/*
var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//lfyzjck.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	  
	    <div id="disqus_thread"></div>
	  

	  

	</div>
</div>        </div>
			<footer id="footer" class="inner">Copyright &copy; 2014
Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a> &nbsp;&nbsp; 
Theme by <a href="http://shashankmehta.in/archive/2012/greyshade.html">Shashank Mehta</a>
      </footer>
		</div>
	</div>


<script type="text/javascript">
    var disqus_shortname = 'lfyzjck'; 

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<script type="text/javascript">
var disqus_shortname = 'lfyzjck'; 

(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
  
    
<script src="asset/chart/all-min.js"></script><script type="text/javascript">$(function(){    var mwebii=0;    var mwebChartEleId = 'mweb-chart-ele-';    $('pre>code').each(function(){        mwebii++;        var eleiid = mwebChartEleId+mwebii;        if($(this).hasClass('language-sequence')){            var ele = $(this).addClass('nohighlight').parent();            $('<div id="'+eleiid+'"></div>').insertAfter(ele);            ele.hide();            var diagram = Diagram.parse($(this).text());            diagram.drawSVG(eleiid,{theme: 'simple'});        }else if($(this).hasClass('language-flow')){            var ele = $(this).addClass('nohighlight').parent();            $('<div id="'+eleiid+'"></div>').insertAfter(ele);            ele.hide();            var diagram = flowchart.parse($(this).text());            diagram.drawSVG(eleiid);        }    });});</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script><script type="text/x-mathjax-config">MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" } }});</script>

</body>
</html>